.about {
  padding: 10px;

  &__content {
    margin: 0 0 20px 0;
  }

  &__headerText {
    color: #ab8950;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px 0 20px 0;
  }

  &__text {
    color: #ab8950;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin: 0 0 18px 0;
  }

  &__separator {
    width: 40%;
    border: 1px solid #ab8950;
    margin: 30px 0;
    align-items: center;
  }

  &__button {
    color: white;
    background: #ab8950;
    border: transparent solid 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 24px;
    letter-spacing: 3.5px;
    border-radius: 3px;

    &:hover {
      background: #fad98c;
      color: #152633;
    }
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .about {
    &__headerText h2 {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
}