.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    background-image: url("../public/60minutecarbackgound.png");
    background-position: center;
    background-attachment: fixed;
}

.main_content {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.container__height {
    margin: 20px 0;
}

.text {
    color: #fad98c;
    font-size: 69px;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    font-style: italic;
    text-align: center;
}

.heading__text {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    align-content: center;
    text-align: center;
    margin: 0 0 20px 0;
    color: white;
}

.edit__text {
    color: #ab8950;
    margin: 0 0 30px 0;
    align-content: start;
}

.button {
    color: white;
    background: #ab8950;
    border: transparent solid 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 24px;
    letter-spacing: 3.5px;
    border-radius: 3px;
}

.button:hover {
    background: #fad98c;
    color: #152633;
}

.button_submit {
    background: #fad98c;
    color: #152633;
    border: transparent solid 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    margin: 0 10px;
}

.forms {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.forms__container {
    width: 560px;
    border-radius: 4px;
    border: #fad98c solid 1px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.forms__div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forms_text {
    color: #fad98c;
}

.forms__input {
    flex: 0 1 100%;
    color: #152633;
    width: 400px;
    margin-bottom: 15px;
    border: 1px solid #ebeced;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    word-spacing: normal;
    letter-spacing: normal;
    padding: 8px 12px;
}

.forms__input::-webkit-input-placeholder {
    color: #0f0f0f;
    font-weight: 600;
}

.forms__input:focus {
    outline: none;
}

.elementor__shape {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}